.pt {
  background-image:url('images/app/flags/pt.png') !important;
}
.gb {
  background-image:url('images/app/flags/gb.png') !important;
}
.es {
  background-image:url('images/app/flags/es.png') !important;
}